@charset "utf-8";

body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.mainbody {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 5px 0px rgba(0,0,0,.1);
  z-index: 1;
}

nav ul {
  display: inline;
  font-weight: 600;
}

nav ul img {
  height: 20px;
}

.banner img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.title {
  text-align: center;
}

.grid-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-image img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.subhead {
  margin-top: 40px;
}

iframe {
  margin-bottom: 25px;
}

.formbox {
  background-color: lightgray;
  width: 50%;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.formbox h3 {
  text-align: center;
  margin-bottom: 5px;  
  margin-top: 5px;
}

.formbox i {
  opacity: .5;
}

input {
  margin-top: 10px;
}

footer {
  text-align: center;
  opacity: .5;
}